<mat-card class="wallet-card" appearance="outlined">
  <mat-card-header>
    <h4 class="title">Valor Total</h4>
  </mat-card-header>
  <mat-card-content>
    <h2>$53,456.30</h2>
  </mat-card-content>
  <mat-card-footer class="wallet-card-footer">
    <p>
        Distribuido en 5 activos
    </p>
  </mat-card-footer>
</mat-card>
<mat-card class="wallet-card" appearance="outlined">
  <mat-card-header>
    <h4 class="title">Rendiminto 24h</h4>
  </mat-card-header>
  <mat-card-content>
    <h2>+$1,245.70</h2>
  </mat-card-content>
  <mat-card-footer class="wallet-card-footer">
    <p>
        +2.45% desde ayer
    </p>
  </mat-card-footer>