<div class="container">
    <mat-card class="card" appearance="outlined">
    <mat-card-header class="card-header">
        <div class="logo">
            
            <img src="chinchin-logo2.png" alt="SCI Logo" />
            
        </div>
        <div>
            
            <p class="title-login">CryptoExchange</p>
            <p class="login-subtitle">Recuperar Contraseña</p>
        </div>
    </mat-card-header>
    <mat-card-content>
        <form class="form"  [formGroup]="valForm" (ngSubmit)="save()">
            <div class="content-input">
        
                <mat-label>Correo Electronico / Usuario</mat-label>
                <input type="text" matInput name="email" formControlName="email" 
                    placeholder="Ex. pat@example.com">
                
            </div>
            <button mat-raised-button  class="button-login" type="submit" (click)="save()" [disabled]="!valForm.valid">
                Recuperar Contraseña
            </button>
        </form>

        
    </mat-card-content>
    <mat-card-footer class="example-card-footer">
       
    </mat-card-footer>
    </mat-card>
</div>