.sidenav {
    width: 150px;
    height: 95vh;
    background-color: #00b0c8;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    font-family: 'Roboto', sans-serif;
    
  }
  
  .logo {
    padding: 1rem;
    text-align: center;
  }
  
  .logo img {
    width: 100px;
    height: auto;
  }
  
  .logotext {
    font-weight: 700;
    margin-top: 0;
    padding-top: 0;
  }
  .nav-list {
    list-style: none;
    padding: 0;
    margin: 2rem 0;
    font-size: 13px;
  }
  
  .nav-list li a {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .nav-list li a:hover,
  .nav-list li a.active {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .nav-list li a i {
    margin-right: 1rem;
    width: 20px;
    text-align: center;
  }
  
  .logout {
    margin-top: auto;
    padding: 1rem 1.5rem;
  }
  
  .logout button {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #667A8A;
    border-radius: 10px;
    transition: background-color 0.3s;
  }
  
  .logout button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .logout button i {
    margin-right: 1rem;
    

  }

  .username{
    margin-top: 20px;
 }