<div class="table-container" >
        
    <table >
    <thead>
        <tr>
        <th>Activos</th>
        <th>Saldo</th>
        <th>Valor USD</th>
        <th>Porcentaje</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>Bitcoin <span>BTC</span></td>
        <td>0.5432</td>
        <td>$24,578.35</td>
        <td>45.98%</td>
        </tr>
        <tr>
        <td>Ethereum <span>ETH</span></td>
        <td>0.5441</td>
        <td>$12,578.35</td>
        <td>23.98%</td>
        </tr>
        <tr>
        <td>Tether <span>USDT</span></td>
        <td>10,000.0000</td>
        <td>$10,000.0000</td>
        <td>1.718%</td>
        </tr>
        <tr>
        <td>Binance Coin <span>BNB</span></td>
        <td>0.5432</td>
        <td>$24,578.35</td>
        <td>45.98%</td>
        </tr>
        <tr>
        <td>Solana <span>SOL</span></td>
        <td>0.5432</td>
        <td>$24,578.35</td>
        <td>45.98%</td>
        </tr>
    </tbody>
    </table>
      



</div>